NODE_ENV=production
PORT=3000

DATABASE_URL='postgresql://DB_USER:DB_PASSWORD@RDS_ENDPOINT:5432/cesar_mmo?sslmode=require'

GOOGLE_CLIENT_ID='YOUR_GOOGLE_CLIENT_ID.apps.googleusercontent.com'

CLIENT_ORIGIN='https://YOUR_CLOUDFRONT_DOMAIN.cloudfront.net'

NODE_EXTRA_CA_CERTS='/etc/cesar-mmo/certs/sa-east-1-bundle.pem'